.body{
    margin: 0;
    border: 0;
}
/*Todas as tags que eu usei eu aprendi no curso hcode gratuito*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*preferenxia ao titulo*/
.navbar h3{
    float: left;
    display: block;
    padding: 14px 16px;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
}

/*a tag a da preferencia ao texto*/
    .navbar a{
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14pt;
    }
/*efeito ao passar o mouse, peguei do ultimo projeto*/
    .navbar a:hover{
        background-color: #ddd;
        color: black;
    }