.body{
    margin: 0;
    border: 0;
}
/*Todas as tags que eu usei eu aprendi no curso hcode gratuito*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*a tag a da preferencia ao texto*/
    .navbar a{
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14pt;
    }
/*efeito ao passar o mouse, peguei do ultimo projeto*/
    .navbar a:hover{
        background-color: #ddd;
        color: black;
    }

    .subtitulos{
     font-weight: bold;
     color: #ddd;
     text-decoration: none;
     text-align: center;
    }


    .sechome{
        top: 0;
        background-color: #252525;
        height: 120vh;
        width: 100%;
    }

    .sechome p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        text-decoration: none;
        color: #f2f2f2;
    }