/*zerando o css pra não bugar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*transiçãozinha q aprendi hihihihi*/
html{
    scroll-behavior: smooth;
}

/*Todas as tags que eu usei eu aprendi no curso hcode gratuito*/
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*a tag a da preferencia ao texto*/
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14pt;
}

.logonav{
    justify-content: center;
    float: left;
    align-items: flex-start;
}

/*efeito ao passar o mouse, peguei do ultimo projeto*/
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.subtitulos {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #ddd;
    text-decoration: none;
}

/*containers que esrudamos na sala de aula, fora no curso*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}

.container span{
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 90px;
    font-size: 14pt;
}


#home{
    background-color: #181c14;
    text-align: center;
}

#sobre{
    background-color: #3c3d37;
    text-align: center;
}

#servicos{
    background-color: #525e4e;
    text-align: center;
}

#contato{
    background-color: #697565;
    text-align: center;
}

.rodape{
    display: flex;
    background-color: #0000;
    width: 100%;
    height: 20vh;
}

.rodape p{
    color: white;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
}